@import url("https://use.fontawesome.com/releases/v5.8.1/js/all.js");

.jumbotron p{
    color: #FFF;
    text-align: center;
}
.col-sm-4 h2{
  text-align: center;
  font-size: 18px;
}
.col-sm-4 h3{
  text-align: center;
  font-size: 18px;
}
